<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Store</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Striped Rows</h2>
            <p>The .table-striped class adds zebra-stripes to a table:</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dojo Tshirt</td>
                        <td>$19.99</td>
                        <td>
                            <form action='/process' method='post'>
                                {% csrf_token %}
                                <select name='quantity'>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>5</option>
                                    <option>8</option>
                                    <option>10</option>
                                </select>
                                <input type='hidden' name='product_id' value='1'/>
                                <input type='submit' value='Buy!' class="btn"/>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>Dojo Tshirt</td>
                        <td>$19.99</td>
                        <td>
                            <form action='/process' method='post'>
                                {% csrf_token %}
                                <select name='quantity'>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>5</option>
                                    <option>8</option>
                                    <option>10</option>
                                </select>
                                <input type='hidden' name='product_id' value='2' />
                                <input type='submit' value='Buy!' class="btn" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>Dojo Tshirt</td>
                        <td>$19.99</td>
                        <td>
                            <form action='/process' method='post'>
                                {% csrf_token %}
                                <select name='quantity'>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>5</option>
                                    <option>8</option>
                                    <option>10</option>
                                </select>
                                <input type='hidden' name='product_id' value='3' />
                                <input type='submit' value='Buy!' class="btn" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>Dojo Tshirt</td>
                        <td>$19.99</td>
                        <td>
                            <form action='/process' method='post'>
                                {% csrf_token %}
                                <select name='quantity'>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>5</option>
                                    <option>8</option>
                                    <option>10</option>
                                </select>
                                <input type='hidden' name='product_id' value='4' />
                                <input type='submit' value='Buy!' class="btn" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>